<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div id="header">
        <div class="logo">
            <a href="~/Home/MainPage" class="btn btn-primary btn-lg">Register</a>
      G<span class="orange">Guide</span>
    </div>
  </a >
  </div>
  <h1 class="posetit"> Что вы хотите посетить?
  </h1>
  <div class="roditel_div">
<a href="#"><div class="box_1">
</div>
</a>
<a href="#    ">
<div class="box_2">
</div>
</a>
<a href="#">
<div class="box_3">
</div>
</a>
  </div>
  <div class="mesta">
      Места
  </div>
  <div class="restoran">
    Рестораны
</div>
<div class="hotel">
  Отели
</div>
  <p class="podform">
    Если вы хотите выбрать несколько точек из трех пунктов, можете составить собственный маршрут по кнопке ниже 
  </p>
  <p class="marshrut"><a href="3 - .html">Свой маршрут</a>
  </p>
  <div class="blur_1">
  </div>
  <div class="blur_2">
  </div>
</body>
</html>